*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: sans-serif;
  background-color: #fafafa;
  color: #262626;
  font-size: 1.4rem;
}

a {
  color: inherit;
  text-decoration: none;
}

.light-text {
  color: #8e8e8e;
}

.lighter-text {
  color: #c7c7c7;
}

.container {
  width: 65vw;
}

@media screen and (max-width: 1000px) {
  .container {
    width: 80vw;
  }
}

@media screen and (max-width: 600px) {
  .container {
    width: 100%;
  }
}

.header,
.main {
  display: flex;
  justify-content: center;
}

.header {
  border: 1px solid #dbdbdb;
  padding: 1rem 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 5;
  background-color: white;
}

@media screen and (max-width: 600px) {
  .header {
    padding-inline: 1rem;
  }
}

.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header .container h1 {
  display: flex;
}

.header .container h1 span {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

.header .container .search-bar input {
  background-color: #fafafa;
  padding: 0.5rem 1rem;
  border: 1px solid #dbdbdb;
  text-align: center;
  border-radius: 0.3rem;
  width: 22rem;
}

.header .container .search-bar input::placeholder {
  color: #8e8e8e;
}

@media screen and (max-width: 600px) {
  .header .container .search-bar input {
    width: 15rem;
  }
}

.header .container .nav-links {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.header .container .nav-links .nav-item {
  list-style: none;
  font-size: 2rem;
  color: #262626;
}

.header .container .nav-links .user-pic {
  padding: none;
  background: none;
}

.header .container .nav-links .user-pic img {
  margin: 0;
  width: 2.5rem;
  height: 2.5rem;
  border: none;
}

.main {
  margin-top: 5rem;
}

.main .container {
  position: relative;
  display: flex;
  gap: 1rem;
}

@media screen and (max-width: 1000px) {
  .main .container {
    flex-direction: column;
  }
}

.main .left {
  width: 60rem;
  display: flex;
  flex-direction: column;
  padding-block: 2rem;
  gap: 2.5rem;
}

@media screen and (max-width: 1000px) {
  .main .left {
    width: 100%;
  }
}

.main .right {
  flex-grow: 1;
  display: flex;
}

.main .right .fixed {
  width: 100%;
  position: fixed;
  top: 10rem;
  width: 22.5vw;
}

@media screen and (max-width: 1000px) {
  .main .right {
    flex-grow: 0;
    display: block;
  }
  .main .right .fixed {
    position: relative;
    width: 100%;
  }
}

.user-pic {
  font-size: 3.5rem;
  background-image: linear-gradient(to right, #fdc468, #df4996);
  border-radius: 50%;
  padding: 0.2rem;
  width: max-content;
  display: flex;
}

.user-pic img {
  width: 6rem;
  height: 6rem;
  border-radius: inherit;
  border: 2px solid white;
}

.user-name {
  font-weight: 600;
  color: #262626;
}

.stories {
  background-color: white;
  display: flex;
  gap: 2rem;
  border: 1px solid #dbdbdb;
  padding: 2rem;
  border-radius: 0.3rem;
}

.stories .story {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  text-align: center;
}

.stories .story .user-name {
  font-weight: normal;
  font-size: 1.2rem;
  display: block;
  width: 70px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.posts {
  display: flex;
  gap: 2rem;
  flex-direction: column;
}

.post {
  border: 1px solid #dbdbdb;
  border-radius: 5px;
}

.post-header {
  padding: 0.6rem;
  padding-right: 2rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
}

.post .user-pic {
  transform: scale(0.8);
}

.post .menu-icon {
  margin-left: auto;
  font-size: 1.4rem;
}

.post-feed img {
  object-fit: cover;
  width: 100%;
  max-height: 50rem;
}

.post-footer {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  padding: 1rem;
}

.post-actions {
  display: flex;
  gap: 1rem;
  padding: 0.5rem 0;
}

.post-actions i {
  font-size: 2.5rem;
  color: #262626;
}

.post-actions i:last-of-type {
  margin-left: auto;
}

.post .liked-by {
  display: flex;
  align-items: center;
}

.post .liked-by .user-name {
  font-size: inherit;
}

.post .liked-by .user-pic {
  font-size: 1.5rem;
  background: none;
  padding: 0;
}

.post .liked-by .user-pic i {
  height: 2.4rem;
  width: 2.4rem;
}

.post .comments {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.post .comments .comment {
  display: flex;
  gap: 0.2rem;
}

.post .comments .comment i {
  margin-left: auto;
}

.post .comments .new-comment {
  position: relative;
  padding-top: 1rem;
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.post .comments .new-comment .btn-post {
  margin-left: auto;
  color: rgba(0, 119, 255, 0.5);
}

.post .comments .new-comment i {
  font-size: 2.5rem;
  color: #565656;
}

.post .comments .new-comment::before {
  background: rgba(219, 219, 219, 0.5);
  left: -1rem;
  content: "";
  width: calc(100% + 20px);
  height: 1px;
  top: 0;
  position: absolute;
}

.btn-blue {
  color: #0095f6;
  font-size: 1.25rem;
  font-weight: bold;
  margin-left: auto;
}

.right {
  margin-left: 3rem;
}

@media screen and (max-width: 1000px) {
  .right {
    margin: 0;
    padding: .5rem;
  }
}

.right .fixed {
  display: grid;
  grid-gap: 1.5rem;
}

.right .user-pic {
  padding: 0;
}

.right .user {
  display: grid;
}

.profile {
  display: flex;
  align-items: center;
  grid-gap: 1rem;
}

@media screen and (max-width: 1000px) {
  .profile {
    display: none;
  }
}

.suggestions {
  display: grid;
  grid-gap: 1.5rem;
}

@media screen and (max-width: 1000px) {
  .suggestions {
    display: none;
  }
}

.suggestions .heading {
  text-transform: capitalize;
  display: flex;
  align-items: center;
  font-size: 1.2rem;
}

.suggestions .heading h2 {
  font-size: 1.5rem;
  margin-right: auto;
}

.suggestions .suggested-profile {
  display: flex;
  gap: 1rem;
  font-size: 1.2rem;
  margin-left: 1rem;
}

.suggestions .suggested-profile .user-pic {
  display: flex;
  padding: 0;
  align-items: center;
  border: 1px;
  background: none;
}

.suggestions .suggested-profile .user-pic img {
  height: 3rem;
  width: 3rem;
  border: none;
}

.suggestions .suggested-profile .btn-blue {
  align-self: center;
}

.footer {
  display: grid;
  font-size: 1.2rem;
  margin-top: 2rem;
  grid-gap: 1.5rem;
}

@media screen and (max-width: 1000px) {
  .footer {
    margin-top: -10rem;
  }
}

.footer .footer_links {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  gap: 0.5rem;
  align-items: center;
}

@media screen and (max-width: 1000px) {
  .footer .footer_links {
    justify-content: center;
  }
}

.footer .footer_links .dot {
  height: 3px;
  width: 3px;
  border-radius: 50%;
  background-color: #c7c7c7;
}

.footer .copyright-text {
  text-transform: uppercase;
}

@media screen and (max-width: 1000px) {
  .footer {
    text-align: center;
  }
}
